
*{
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: auto;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-gap:5px;
}
.footer{
  background-color:#0d6efd;
}

.container-main{
  background-color:rgb(253, 253, 253);
  text-align: center;
  border-style:  solid black 20px;
  
}
.title-container{
  text-align: center;
} .title-container > h1{
  font-size:40px;
}
.weather-stats-container > span{
 font-size:20px;
 color: rgb(131, 131, 129);
}
.weather-stats-container > p{
  font-size:20px;
  color: rgb(34, 34, 34);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
.city-info{
  background-color:rgb(255, 195, 127);
  text-align: center;
}
.city-info > p {
text-align: center;
font-size: 50px;
font-style: oblique;
}
.city-info > span{
  border-bottom: 1px solid black;
  }
#city-button{  
    align-items: center;  
  }
.city-text{ 
    align-items: center;
  }
